<header>
    <nav>
        <ul>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li><a href="{{ '/people/' | relative_url }}">People</a></li>
            <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
            <li><a href="{{ '/publications/' | relative_url }}">Publications</a></li>
            <li><a href="{{ '/news/' | relative_url }}">News</a></li>
            <li><a href="{{ '/teaching/' | relative_url }}">Teaching</a></li>
            <li><a href="{{ '/grants/' | relative_url }}">Grants</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        </ul>
    </nav>
</header>
